In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [9]:
data = pd.read_csv("CW_project4.txt", sep=" ", header=None)
data = data.drop(columns=6, axis=1)
data = data.rename(columns={7:6})
data

            0      1      2       3      4      5  6
0        7.20  12.30  18.87   42.02   6.14  25.52  0
1       11.36  10.46  21.99   22.59  22.09  64.97  1
2        8.12   8.40   6.70   12.67  13.92  14.20  0
3       28.96  11.06  17.60   40.36  23.71  39.91  1
4       36.72  35.99  33.29   32.10  12.10  21.12  1
...       ...    ...    ...     ...    ...    ... ..
999995  32.91  13.67  35.62  119.69  13.81  52.39  1
999996  15.26  21.69  20.63   45.90  25.07  45.23  1
999997  38.96   8.38  34.08   12.14  10.56  14.09  0
999998  42.02  80.13  19.48   23.22  14.88  29.38  1
999999  37.79  22.94  24.42   24.53  23.76  40.80  1

[1000000 rows x 7 columns]

In [10]:
X = data.iloc[:, :-1].values
y = data.iloc[:, -1].values

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
model = keras.Sequential([
    layers.Dense(128, activation='relu', input_shape=(6,)),
    layers.Dense(64, activation='relu'),
    layers.Dense(1, activation='sigmoid')
])

In [13]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [14]:
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_split=0.2)

Epoch 1/10
20000/20000 [==============================] - 109s 5ms/step - loss: 0.1166 - accuracy: 0.9570 - val_loss: 0.0837 - val_accuracy: 0.9699
Epoch 2/10
20000/20000 [==============================] - 74s 4ms/step - loss: 0.0866 - accuracy: 0.9681 - val_loss: 0.0826 - val_accuracy: 0.9697
Epoch 3/10
20000/20000 [==============================] - 75s 4ms/step - loss: 0.0832 - accuracy: 0.9692 - val_loss: 0.0807 - val_accuracy: 0.9707
Epoch 4/10
20000/20000 [==============================] - 75s 4ms/step - loss: 0.0813 - accuracy: 0.9701 - val_loss: 0.0789 - val_accuracy: 0.9711
Epoch 5/10
20000/20000 [==============================] - 75s 4ms/step - loss: 0.0803 - accuracy: 0.9703 - val_loss: 0.0784 - val_accuracy: 0.9713
Epoch 6/10
20000/20000 [==============================] - 75s 4ms/step - loss: 0.0797 - accuracy: 0.9706 - val_loss: 0.0789 - val_accuracy: 0.9712
Epoch 7/10
20000/20000 [==============================] - 74s 4ms/step - loss: 0.0791 - accuracy: 0.9707 - val_loss: 0.0819 - val_accuracy: 0.9697
Epoch 8/10
20000/20000 [==============================] - 74s 4ms/step - loss: 0.0784 - accuracy: 0.9711 - val_loss: 0.0765 - val_accuracy: 0.9722
Epoch 9/10
20000/20000 [==============================] - 74s 4ms/step - loss: 0.0780 - accuracy: 0.9712 - val_loss: 0.0766 - val_accuracy: 0.9722
Epoch 10/10
20000/20000 [==============================] - 74s 4ms/step - loss: 0.0776 - accuracy: 0.9715 - val_loss: 0.0760 - val_accuracy: 0.9726